body {
    background-color: rgb(18, 17, 17);
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    color: white;
}

 #gameState1 {
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    border-style: groove;
    width: 600px;
    height: 900px;
    background-image: url("images/Menu_Background.png");
    background-size: 600px 900px;
    
} 

#gameState2 {
    margin-top: 30px;
    border-style: groove;
    
    display: none;
}

.playBtn {
    margin-top: 180px;
}

#gameState3 {
    margin-top: 30px;
    border-style: groove;
    display: none;
    width: 600px;
    height: 900px;
    letter-spacing: 5px;
    background-image: url("images/Menu_Background.png");
    background-size: 600px 900px;
}
#gameState3 p {
    margin-top: 250px;
    font-size: 60px;
}

#gameState4 {
    margin-top: 30px;
    border-style: groove;
    display: none;
    width: 600px;
    height: 900px;
    letter-spacing: 5px;
    background-image: url("images/Menu_Background.png");
    background-size: 600px 900px;
}
#gameState4 p {
    margin-top: 250px;
    font-size: 60px;
}

