body {
    background-color: rgb(18, 17, 17);
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    color: white;
}

#game {
    
}

 #gameState1 {
    padding-top: 30px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    width: 600px;
    height: 900px;
    background-image: url("images/Menu_Background.png");
} 

